body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: rgb(20, 163, 79);
  padding: 20px;
  text-align: center;
}
nav {
  background-color: #f50000;
  padding: 10px;
  text-align: center;
}
nav a {
  color: rgb(35, 4, 59);
  text-decoration-color: azure;
  margin: 10px;
}
nav a:hover {
  text-emphasis-position: inherit;
}
main {
  padding: 20px;
}
section {
  margin: 30px;
  padding: 15;
  border: 1px solid #CCC;
